<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Lesson 2 - Server Side Scriptin in Node.js</title>

    <meta name="description" content="">
    <meta name="author" content="Flurin Egger">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="vendor/reveal.js/css/reveal.min.css" />
    <link rel="stylesheet" href="stylesheets/theme.css" id="theme" />

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      if(window.location.search.match( /print-/gi )){
        document.write( '<link rel="stylesheet" href="/vendor/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css">' );        
      }
    </script>

    <!--[if lt IE 9]>
    <script src="/vendor/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="vendor/reveal.js/lib/js/head.min.js"></script>
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <section>
  <h1 class="title">Server Side Scripting in <img src="assets/logo-nodejs.svg" /></h1>
  <p>Lesson 2</p>
  <p>http://cmda.github.io/sss-course/lesson2</p>
</section>

<section>
  <section>
    <h1>Today</h1>
    <ol>
      <li>Javascript: Strings, Arrays, Objects</li>
      <li>Javascript: Async</li>
      <li>App server</li>
      <li>Templating</li>
      <li>Consuming APIs</li>
      <li>Deeltoets 1</li>
      <li>Wrap up</li>
    </ol>
  </section>
</section>

<section>
  <section>
    <h1>Javascript</h1>
  </section>

  <section>
    <h1>Numbers</h1>
    <pre><code class="javascript" data-trim>
var a = 1; // Number!
var b = 2.5; // Number! (it's a float)
1/0;  // Infinity
1/"a"; // NaN
(0.1 + 0.2 == 0.3) // = false
    </code></pre>
  </section>


  <section>
    <h1>Strings</h1>
    <pre><code class="javascript" data-trim>
var a = 'this is a string';
var b = 'this is another string';
var c = a + ' ' + b // 'this is a string this is another string'
    </code></pre>
  </section>

  <section>
    <h1>Arrays</h1>
    <pre><code class="javascript" data-trim>
var a = []; // Empty Array
var b = [1, 2, 3]; // Arary of numbers
b.push(4); // Add to array: [1,2,3,4]
b.pop(); // 4 [1,2,3]
b.forEach(function(value){ console.log(value); }); // Iterate
b.map(function(value){ return value + 1 }); // [2,3,4]
    </code></pre>
  </section>

  <section>
    <h1>Objects</h1>
    <pre><code class="javascript" data-trim>
var a = {}; // Empty object
a.name = "SSS"; // {name : "SSS"}
a["teachers"] = ["Edwin", "Flurin"]; // {name : "SSS", teachers : [...]}
a.pass = function(){ return true; };
a.pass(); // true

Object.keys(a); // ["name", "teachers"]
    </code></pre>
  </section>

  <section>
    <div class="protip">
      Google "Javascript MDN [function_or_object]", or use MDN directly: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">https://developer.mozilla.org/en-US/docs/Web/JavaScript</a>
    </div>
  </section>

  <section>
    <h1>Learn JavaScript</h1>
    <p>
      <a href="http://www.codecademy.com/tracks/javascript">Codeacademy</a> <br> (http://www.codecademy.com/tracks/javascript)
    </p>
    <aside class="notes">
      Ja, je moet dit kunnen.
    </aside>
  </section>

  <section>
    <div class="protip">
      USE THE REPL
    </div>
  </section>

  <section data-background="assets/lesson2/psychedelic.jpg">
    <h1 style="font-size: 10rem; background: rgba(255,0,0,0.8); padding: 2rem;">
      USE THE REPL
    </h1>
  </section>

</section>

<section>
  <section>
    <h1>Javascript: Async</h1>
    <p>An aspect of node.js is it asynchronously, making it very fast.</p>
  </section>

  <section>
    <h2>Synchronous code</h2>
    <pre><code class="javascript" data-noescape data-trim>
// NOT REAL CODE
var file = readFile("file.txt"); <span class="fragment">// Executions blocks here...</span>
output(file); <span class="fragment">// ... and done</span>
console.log("klaar");
    </code></pre>
  </section>

  <section>
    <h2>Asynchronous code</h2>
    <pre><code class="javascript" data-noescape data-trim>
// NOT REAL CODE
readfile("bestand.txt", function(file){
  output(file);
  console.log("klaar"); <span data-fragment-index="2" class="fragment">// Done with bestand.txt...</span>
}); <span data-fragment-index="0" class="fragment">// Read file asynchronous</span>
readfile(..., fn) <span data-fragment-index="1" class="fragment">// Our code continues...</span>
    </code></pre>
  </section>


  <section>
    <h1>Sync v.s. Async</h1>
    <div class="side-by-side">
      <div class="side-by-side__content">
        <h2>Sync</h2>
        <img src="assets/lesson2/sync.svg" alt="Sync" />
      </div>
      <div class="side-by-side__content">
        <h2>Async</h2>
        <img src="assets/lesson2/async.svg" alt="Async" />
      </div>
    </div>
  </section>

  <section>
    <h1>Asynchronous calls</h1>
    <ul>
      <li class="fragment">Callbacks</li>
      <li class="fragment">Events</li>
    </ul>
  </section>


  <section>
    <h1>Callbacks</h1>

    <p>A function that gets called when the async operation is done</p>

    <aside class="notes">
      The difference is that with a callback you're either going to get an error or a result. Never both, and never more than one event.
    </aside>
  </section>

  <section>
    <h1>Callback example</h1>
    <pre><code class="javascript" data-trim>
var callback = function(){
  console.log("done");
}
setTimeout(callback, 2000);
    </code></pre>
  </section>

  <section>
    <h1>Callback example</h1>
    <pre><code class="javascript" data-trim>
var request = require("request");
var url = "http://api.openweathermap.org/data/2.5/weather?q=Amsterdam,nl";
request(url, function(error, response, body){
  if (!error && response.statusCode == 200) {
    console.log(body) // Print the weather.
  }
});
    </code></pre>

  </section>

  <section>
    <h2>Events</h2>
    <p>Something that can happen once or more times at at any time</p>

    <aside class="notes">
      Denk aan jQuery click.
    </aside>
  </section>


</section>

<section>

  <section>
    <h1>Express.js App server</h1>
  </section>

  <section>
    <h1>Client &lt;-&gt; (http)server</h1>
    <img src="assets/lesson2/client-server.png" alt="Server <-- http --> Client" />
  </section>

  <section>
    <h1>A server</h1>
    <pre><code class="javascript" data-trim>
var http = require('http');

var server = http.createServer(function (req, res) {
  res.writeHead(200, {'Content-Type': 'text/plain'});
  res.end('Hello World\n');
})

server.listen(1337, '127.0.0.1');
console.log('Server running at http://127.0.0.1:1337/');
    </code></pre>
  </section>

  <section data-background="assets/lesson2/godno.gif">
  </section>

  <section>
    <h1>Express</h1>
    <p>
      Fast, unopinionated, minimalist web framework for Node.js
    </p>
    <p>
      <a href="#">http://expressjs.com/</a>
    </p>
  </section>

  <section>
    <h1>MVC</h1>
    <span class="fragment"><strong>M</strong>odel</span>
    <span class="fragment">- <strong>V</strong>iew</span>
    <span class="fragment">- <strong>C</strong>ontroller</span>
  </section>

  <section>
    <h1>Install it</h1>
    <pre class="terminal--osx"><code data-trim class="bash">
$ npm install --save express
    </code></pre>
  </section>

  <section>
    <h1>Simplest Express example</h1>
    <pre><code class="javascript" data-trim>
// app.js
var express = require('express');
var app = express();

// Add a reponse route
app.get('/', function(req, res){
  res.send('Hello World!');
});

// Start the server
app.listen(3000, function () {
  console.log('Started!');
});
    </code></pre>

  </section>

  <section>
    <h1>Run it</h1>
    <pre class="terminal--osx"><code data-trim class="bash">
$ node app.js
    </code></pre>
  </section>

  <section>
    <h1>Router <sup>*</sup></h1>
    <ul>
      <li>URL structure</li>
      <li>HTTP request handling</li>
      <li>HTTP response generation</li>
    </ul>

    <p>
      <sup>*</sup> Controller.
    </p>
  </section>

  <section>
    <h1>URLs</h1>
    <img src="assets/lesson2/url.svg" alt="An URL explained" style="width: 100%" />
  </section>

  <section>
    <h1>Router example</h1>
    <pre><code class="javascript" data-trim>
// routes/weather.js
var express = require('express');
var router = express.Router();

router.get('/', function(req, res){
  res.send('Hello world (from router)!');
});

module.exports = router;
    </code></pre>
  </section>

  <section>
    <h1>Using the router</h1>
    <pre><code class="javascript" data-trim>
// app.js
var express = require('express');
var app = express();
var weatherRouter = require('./routes/weather');

app.use('/weather', weatherRouter);

// Start the server
app.listen(3000);
    </code></pre>
  </section>

 <section>
   <h1>Using multiple routers</h1>
   <pre><code class="javascript" data-trim>
// app.js
var express = require('express');
var app = express();
var weatherRouter = require('./routes/weather');
var indexRouter = require('./routes/index');

app.use('/', indexRouter);
app.use('/weather', weatherRouter);

// Start the server
app.listen(3000);
   </code></pre>
 </section>

  <section>
    <h1>Query string</h1>
    <pre><code class="javascript" data-trim>
// routes/weather.js
var express = require('express');
var router = express.Router();

router.get('/', function(req, res){
  var location = req.query.location;
  res.send('Who is the weather in ' + location + '?');
});

module.exports = router;
    </code></pre>

    <aside class="notes">
     http://expressjs.com/4x/api.html#req.query
    </aside>
  </section>

  <section>
    <h1>Parameters</h1>
    <pre><code class="javascript" data-trim>
// routes/weather.js
var express = require('express');
var router = express.Router();

router.get('/', function(req, res){
  res.send('This is the weather service!')
});

router.get('/location/:location', function(req, res){
  var location = req.params.location;
  res.send('Who is the weather in ' + location + '?');
});

module.exports = router;
    </code></pre>
  </section>

</section>


<section data-background="assets/lesson2/break.gif">
  <div class="fragment">
    <h1>Coffebreak</h1>
    <p>Back in 10 minutes</p>
  </div>
</section>

<section>
  <section>
    <h1>Templating</h1>
  </section>

  <section>
    <h1>Up until now...</h1>
    <pre><code class="javascript" data-trim>
// routes/weather.js
// ...

router.get('/', function(req, res){
  var output = '&lt;html>&lt;head><title>Weather</title>&lt;/head>&lt;body>\n';
  output += '<h1>Welcome!</h1>\n';
  output += '<p>This is the weather service</p>';
  output += '&lt;/body>&lt;/html>';

  res.send(output)
});

// ...
    </code></pre>
  </section>

  <section data-background="assets/lesson2/barf.gif">
  </section>

  <section>
    <h1>MVC</h1>
    <strong>M</strong>odel
    - <strong>V</strong>iew
    - <strong>C</strong>ontroller
  </section>

  <section>
    <h1>Templates (view)</h1>
    <ul>
      <li>Put HTML (or whatever) in separate files</li>
      <li>Pass data to the template</li>
    </ul>
  </section>

  <section>
    <h1>EJS</h1>
    <p>Embedded javascript</p>

    <pre><code class="ejs" data-trim>
<h1><%= name %> </h1>
<p>Test results:</p>
<p>
  <% if(passed){ %>
    Yay, you passed!
  <% } else { %>
    FAIL!
  <% } %>
</p>
    </code></pre>
  </section>

  <section>
    <h1>Setting up views</h1>
    <ol>
      <li>
        Install EJS
        <pre><code class="javascript" data-trim>
$ npm install --save ejs
        </code></pre>
      </li>
      <li>
        Tell express to use EJS:
        <pre><code class="javascript" data-trim>
app.set('view engine', 'ejs');
        </code></pre>
      </li>
      <li>
        Tell express where to find the views:
        <pre><code class="javascript" data-trim>
app.set('views', __dirname + '/views');
        </code></pre>
      </li>
      <li>Create a view file</li>
      <li>
        Render the view:
        <pre><code class="javascript" data-trim>
router.get("/", function(req, res){
  res.render("index");
})
        </code></pre>
      </li>
    </ol>
  </section>

  <section>
    <h1>Setup data</h1>
    <pre><code class="javascript" data-trim>
router.get("/", function(req, res){
  res.render("index", {
    name : "Dr. Evil",
    location : "Secret Lair"
  });
})
    </code></pre>
  </section>

  <section>
    <h1>Using data</h1>
    <pre><code class="javascript" data-trim>
Hello, &lt;%= name %> from &lt;%= location>
    </code></pre>
  </section>

  <section>
    <h1>Includes</h1>
    <pre><code class="javascript" data-trim>
&lt;% include partials/header %>
... my template ...
&lt;% include partials/footer %>
    </code></pre>
  </section>

  <section>
    <div class="protip">
      Don't put logic in your templates or HTML in your code.
    </div>
  </section>
</section>

<section>
  <section>
    <h1>Consuming APIs</h1>
  </section>

  <section>
    <h1>Request</h1>
    <p>
      <a href="https://www.npmjs.org/package/request">https://www.npmjs.org/package/request</a>
    </p>
  </section>

  <section>
    <h1>Installing Request</h1>
    <pre class="terminal--osx"><code data-trim class="bash">
$ npm install --save request
    </code></pre>
  </section>

  <section>
    <h1>Example</h1>
    <pre><code class="javascript" data-trim>
var request = require("request");
var url = "http://api.openweathermap.org/data/2.5/weather?q=Amsterdam,nl";
request(url, function(error, response, body){
  if (!error && response.statusCode == 200) {
    console.log(body) // Print the weather.
  }
});
    </code></pre>
  </section>

</section>


<section>

  <section>
    <h1>Wrapping up</h1>
  </section>

  <section>
    <h1>What we learned today</h1>
    <ul>
      <li class="fragment">Javascript strings, objects, arrays</li>
      <li class="fragment">How to learn more about javascript</li>
      <li class="fragment">Node.js asynchronous operations and callbacks</li>
      <li class="fragment">Setting up Express.js app</li>
      <li class="fragment">Writing routers with params</li>
      <li class="fragment">Doing templating with EJS and using includes</li>
      <li class="fragment">Get stuff from the internet with "request"</li>
    </ul>
  </section>

</section>

<section>
  <section>
    <h1>Deeltoets 1</h1>

    <ul>
      <li>Werkcollege van 4 december</li>
      <li>Op papier, zonder laptop</li>
      <li>20 minuten</li>
    </ul>
  </section>

  <section>
    <h1>Doel</h1>
    <p>
      Doel van de toets is het begrijpen van JavaScript en de concepten
      zoals behandeld in de hoor- en werkcolleges.
    </p>
  </section>

  <section>
    <h1>Voorbeeld 1</h1>
    <pre><code class="javascript" data-trim>
//  moetikeenjasaan.js
var moetIkEenJasAan = function(temp, regen){
  if(temp > 15 && !regen){
    return 'Nee, dat is niet nodig';
  } else if(temp > 15 && regen){
    return 'Je kunt ook een paraplu meenemen';
  } else {
    return 'Ja, dat is wel verstandig.';
  }
};

// Vraag:
// Wat is de uitkomst van moetIkEenJarAan(10, true)
    </code></pre>
  </section>

  <section>
    <h1>Voorbeeld 2</h1>
    <pre><code class="javascript" data-trim>
var calculate = function(expenses){
  var calculate = {};
  expenses.forEach(function(expense){
    if(calculate[expense.type]){
      calculate[expense.type] += expense.kosten;
    } else {
      calculate[expense.type] = expense.kosten;
    }
  });

  return calculate;
};

var uitgaven = [
  {name: 'Collegeld', type: 'studiekosten', kosten: 1800},
  {name: 'Snowboard', type: 'vakantie', kosten: 350},
  {name: 'Snowboardschoenen', type: 'vakantie', kosten: 200},
  {name: 'Studieboek', type: 'studiekosten', kosten: 250},
  {name: 'Kaas', type: 'boodschappen', kosten: 4},
  {name: 'Collegeklapper', type: 'studiekosten', kosten: 2},
  {name: 'Brood', type: 'boodschappen', kosten: 2},
  {name: 'Melk', type: 'boodschappen', kosten: 1},
];

calculate(uitgaven);
    </code></pre>
  </section>

</section>

<section>

  <section>
    <h1>Werkcollege en huiswerk</h1>
  </section>

  <section>
    <h1>Huiswerk: lezen</h1>

    <ul>
      <li>Hoodstuk 3.2, t/m 3.4 (p 46 t/m 67)</li>
      <li>Hoodstuk 8, t/m 8.3 (p 176 t/m 193)</li>
      <li>Minder belangrijk: "view caching"</li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section>
    <h1>Huiswerk: doen</h1>
    <ul>
      <li>Doe de oefeningen uit codeacademy</li>
      <li>Begin met de exercises</li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section data-background="assets/thatsall.gif">
  </section>

</section>

<div class="hidden">
  * Static files
  * Redirects
</div>
      </div>
    </div>

    <script src="vendor/reveal.js/js/reveal.min.js"></script>
    <script src="vendor/highlightjs/highlight.pack.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        width: 1000,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'vendor/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'vendor/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'vendor/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'javascripts/reveal/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'vendor/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>