<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Lesson 2 - Server Side Scriptin in Node.js</title>

    <meta name="description" content="">
    <meta name="author" content="Flurin Egger">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="vendor/reveal.js/css/reveal.min.css" />
    <link rel="stylesheet" href="stylesheets/theme.css" id="theme" />

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      if(window.location.search.match( /print-/gi )){
        document.write( '<link rel="stylesheet" href="/vendor/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css">' );        
      }
    </script>

    <!--[if lt IE 9]>
    <script src="/vendor/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="vendor/reveal.js/lib/js/head.min.js"></script>
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <section>
  <h1 class="title">Server Side Scripting in <img src="assets/logo-nodejs.svg" alt="NodeJs" /></h1>
  <p>Lesson 2</p>
  <p>http://cmda.github.io/sss-course/lesson2</p>
</section>

<section>
  <section>
    <h1>Today</h1>
    <ol>
      <li>Templates</li>
      <li>URL</li>
      <li>Routes</li>
      <li>Routers</li>
    </ol>
  </section>
</section>


<section>
  <section>
    <h1>Templating</h1>
  </section>

  <section>
    <h1>Not a good idea...</h1>
    <pre><code class="javascript" data-trim>
// app.js
// ...

app.get('/hello', function(req, res){
  var output = '&lt;html>&lt;head>&lt;title>HW&lt;/title>&lt;/head>&lt;body>';
  output += '&lt;h1>Hello&lt;/h1>';
  output += '&lt;p>world!&lt;/p>';
  output += '&lt;/body>&lt;/html>';

  res.send(output)
});

// ...
    </code></pre>
  </section>

  <section>
    <h1>Templates</h1>
    <p>to put HTML in separate files</p>
  </section>

    <section>
      <pre><code class="javascript" data-trim>
// app.js
// ...

app.get('/hello', function(req, res){
  res.render('hello');
});
     </code></pre>
    </section>

  <section>
    <pre><code class="javascript" data-trim>
// app.js
var express = require('express');
var app = express();

app.set('view engine', 'ejs');
app.set('views', __dirname + '/views');

// Add a reponse
app.get('/hello', function(req, res){
  res.render('hello');
});

// Start the server
app.listen(3000, function () {
  console.log('Started!');
});

// Go to: http://IPADDRESS:3000/hello
    </code></pre>
  </section>

  <section>
    <h1>Template file</h1>

    <pre><code class="html" data-trim>
&lt;!-- hello.ejs -->
&lt;html>
  &lt;head>
    &lt;title>HW&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>Hello&lt;/h1>
    &lt;p>world!&lt;/p>
  &lt;/body>
&lt;/html>
    </code></pre>
  </section>

  <section>
    <h1>Template language</h1>
    <p>EJS: Embedded javascript</p>

    <pre><code class="html" data-trim data-noescape>
&lt;!-- hello.ejs -->
&lt;html>
  &lt;head>
    &lt;title>HW&lt;/title>
  &lt;/head>
  &lt;body>
    &lt;h1>Hello&lt;/h1>
    &lt;p><mark><%= name %></mark>&lt;/p>
    <mark><% if(location && location !== "") { %></mark>
     &lt;p>How is the weather in <mark><%= location %></mark>?&lt;/p>
    <mark><% } %></mark>
  &lt;/body>
&lt;/html>
    </code></pre>
  </section>

  <section>
    <h1>Passing data</h1>

    <h2>Server</h2>
    <pre><code class="javascript" data-trim>
// app.js
router.get("/", function(req, res, next){
  res.locals.name = "Dr. Evil";
  res.locals.location = "Secret Lair";
  res.render("index");
})
    </code></pre>

    <h2>Template</h2>
    <pre><code class="html" data-trim data-noescape>
&lt;!-- index.ejs -->
Hello, <mark>&lt;%= name %></mark> from <mark>&lt;%= location></mark>
    </code></pre>
  </section>

    <section>
      <h1>Not a good idea</h1>
      <pre><code class="html" data-trim data-noescape>
&lt;!-- hello.ejs -->
<mark>&lt;html>
  &lt;head>
    &lt;title>HW&lt;/title>
  &lt;/head>
  &lt;body></mark>
    &lt;h1>Hello&lt;/h1>
    &lt;p><%= name %>&lt;/p>
    <% if(location && location !== "") { %>
     &lt;p>How is the weather in <%= location %>?&lt;/p>
    <% } %>
  <mark>&lt;/body>
&lt;/html></mark>
      </code></pre>
    </section>

  <section>
    <h1>Partials</h1>
    <pre><code class="html" data-trim data-noescape>
&lt;!-- hello.ejs -->
<mark>&lt;%- include('head.ejs') %></mark>
  &lt;h1>Hello&lt;/h1>
  &lt;p><%= name %>&lt;/p>
  <% if(location && location !== "") { %>
   &lt;p>How is the weather in <%= location %>?&lt;/p>
  <% } %>
<mark>&lt;%- include('foot.ejs') %></mark>
    </code></pre>

    <pre><code class="html" data-trim data-noescape>
&lt;!-- head.ejs -->
&lt;html>
  &lt;head>
    &lt;title>HW&lt;/title>
  &lt;/head>
  &lt;body>
    </code></pre>

    <pre><code class="html" data-trim data-noescape>
&lt;!-- foot.ejs -->
&lt;/body>
&lt;/html>
    </code></pre>

  </section>

  <section>
    <div class="protip">
     Everything between <code><% ... %></code> is just
     JavaScript
    </div>
  </section>
</section>

<section>
  <section>
    <h1>Routes</h1>
  </section>

  <section>
    <h1>Client &lt;-&gt; server</h1>
    <img src="assets/lesson3/request-response.png" alt="client - server" />
  </section>

  <section>
    <h1>Response</h1>
    <p>through template</p>
  </section>

  <section>
    <h1>Request</h1>
    <p>through routing</p>
  </section>

  <section>
    <h1>What is a route?</h1>
    <p>A function that responds to part of an URL</p>

    <pre><code class="javascript" data-trim data-noescape>
// app.js
app.get('<mark>/hello</mark>', <mark style="background: #a00;">function(req, res){
  // ...
}</mark>);
     </code></pre>
  </section>

  <section>
    <h1>URL</h1>
    <img src="assets/lesson2/url.svg" alt="An URL explained" style="width: 100%" />
  </section>

  <section>
    <h1>URL</h1>
    <img src="assets/lesson2/url-handlers.svg" alt="URL handling" style="width: 100%" />
  </section>


  <section>
    <h1>Route</h1>

    <pre><code class="javascript" data-trim data-noescape>
app.get(<mark>'/hello/amsterdam'</mark>, function(req, res){
  res.locals.location = "Amsterdam";
  res.render('hello');
});
    </code></pre>
  </section>

  <section>
    <h1>Route + Query string</h1>
    <pre><code class="javascript" data-trim data-noescape>
app.get('<mark>/hello</mark>', function(req, res){
  res.locals.location = <mark>req.query.location</mark>;
  res.render('hello');
});
    </code></pre>

    <aside class="notes">
     http://expressjs.com/4x/api.html#req.query
    </aside>
  </section>

  <section>
    <h1>Route + Parameter</h1>

    <pre><code class="javascript" data-trim data-noescape>
app.get('<mark>/hello/:location</mark>', function(req, res){
  res.locals.location = <mark>req.params.location</mark>;
  res.render('hello');
});
    </code></pre>
  </section>

  <section>
    <h1>Req / Res</h1>

    <style>
      .hl-red .hljs-params{
        font-weight: bold;
        color: #f00;
      }

      .hl-green .hljs-params{
        font-weight: bold;
        color: #0f0;
      }

    </style>

    <div class="side-by-side">
      <div class="side-by-side__content">
        <img src="assets/lesson3/request-response.png" alt="Client/server" />
      </div>
      <div class="side-by-side__content">
        <pre><code class="javascript" data-trim data-noescape>
app.get('/hello', function(<span class="hl-red">req</span>, <span class="hl-green">res</span>){
  ...
});
        </code></pre>

        <h2 style="margin-top: 1em">Request</h2>
        <pre><code class="javascript" data-trim data-noescape>
req.params // Parameters
req.query // Query string
        </code></pre>

        <h2 style="margin-top: 1em">Response</h2>
        <pre><code class="javascript" data-trim data-noescape>
res.send("...") // Send string
res.render("template", {..}) // Render template
        </code></pre>

      </div>
    </div>
  </section>
</section>

<section>
  <section>
    <h1>Routers</h1>
  </section>

  <section>
    <h1>Not a good idea</h1>
    <pre><code class="javascript" data-trim data-noescape>
// app.js
app.get('/', function(req, res){  });

app.get('/cars', function(req, res){  });
app.get('/cars/:brand', function(req, res){  });

app.get('/weather', function(req, res){  });
app.get('/weather/:location', function(req, res){  });
    </code></pre>

  </section>

  <section>
    <h1>Router</h1>
    <ul>
      <li>Project structure (Modules!)</li>
      <li>URL structure</li>
      <li>Request handling</li>
      <li>Response generation</li>
    </ul>
  </section>


  <section>
    <h1>Router module</h1>
    <pre><code class="javascript" data-trim>
// routes/hello.js
var express = require('express');
var router = express.Router();

router.get('/hello', function(req, res){
  res.send('... you say goodbye, and I say hello!');
});

module.exports = router;
    </code></pre>
  </section>

  <section>
    <h1>Using the router</h1>
    <pre><code class="javascript" data-trim data-noescape>
// app.js
var helloRouter = require('./routes/hello');

app.<mark>use</mark>('/hello', helloRouter);
    </code></pre>
  </section>

 <section>
  <h1>Go to ...</h1>
  <p>http://localhost:3000<mark>/hello/hello</mark></p>
 </section>

<section>
  <h1>What happened?</h1>

  <ol style="display: block">
    <li>Start with the <code>app</code></li>
    <li><mark>/hello</mark>/hello &rarr; <code>app.use('/hello', helloRouter)</code></li>
    <li>Continue in <code>router</code></li>
    <li>/hello<mark>/hello</mark> &rarr; <code>router.get('/hello', ...)</code></li>
  </ol>
</section>

  <section>
    <h1>Just /hello</h1>
    <pre><code class="javascript" data-trim>
// routes/hello.js
var express = require('express');
var router = express.Router();

router.get('/', function(req, res){
  res.send('Hi!');
});

module.exports = router;
    </code></pre>
  </section>

<section>
  <h1>What happened?</h1>

  <ol style="display: block">
    <li>Start with the <code>app</code></li>
    <li><mark>/hello</mark> &rarr; <code>app.use('/hello', helloRouter)</code></li>
    <li>Continue in <code>router</code></li>
    <li>/hello &rarr; <code>router.get('/', ...)</code></li>
  </ol>
</section>

 <section>
   <h1>Using multiple routers</h1>
   <pre><code class="javascript" data-trim>
// app.js
var helloRouter = require('./routes/hello');
var carRouter = require('./routes/cars');

app.use('/hello', helloRouter);
app.use('/cars', carRouter);
   </code></pre>
 </section>




</section>

<section>

  <section>
    <h1>Wrapping up</h1>
  </section>

  <section>
    <h1>What we learned today</h1>
    <ul>
      <li class="fragment">Templates</li>
      <li class="fragment">Partials in templates</li>
      <li class="fragment">Request / Response</li>
      <li class="fragment">Routes: URL, params, query string</li>
      <li class="fragment">Routers</li>
    </ul>
  </section>

</section>


<section>

  <section>
    <h1>Werkcollege en huiswerk</h1>
    <p>Zie moodle</p>
  </section>

  <section data-background="assets/thatsall.gif">
  </section>

</section>

      </div>
    </div>

    <script src="vendor/reveal.js/js/reveal.min.js"></script>
    <script src="vendor/highlightjs/highlight.pack.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        width: 1000,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'vendor/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'vendor/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'vendor/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'javascripts/reveal/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'vendor/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>