<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Lesson 4 - Server Side Scriptin in Node.js</title>

    <meta name="description" content="">
    <meta name="author" content="Flurin Egger">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="vendor/reveal.js/css/reveal.min.css" />
    <link rel="stylesheet" href="stylesheets/theme.css" id="theme" />

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      if(window.location.search.match( /print-/gi )){
        document.write( '<link rel="stylesheet" href="/vendor/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css">' );        
      }
    </script>

    <!--[if lt IE 9]>
    <script src="/vendor/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="vendor/reveal.js/lib/js/head.min.js"></script>
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <section>
  <h1 class="title">Server Side Scripting in <img src="assets/logo-nodejs.svg" /></h1>
  <p>Lesson 4</p>
  <p>http://cmda.github.io/sss-course/lesson4</p>
</section>

<section>
  <section>
    <h1>Today</h1>
    <ol>
      <li>The big picture</li>
      <li>EJS in depth</li>
      <li>Advanced routers</li>
      <li>Uploads and files</li>
      <li>Wrap up</li>
    </ol>
  </section>
</section>

<section>
  <section>
    <h1>The big picture</h1>
  </section>


  <section>
    <img src="assets/lesson4/data-flow.svg" alt="App data flow" style="height: 100%" />
  </section>


  <section>
    <h1>What can we do so far?</h1>

    <ul>
      <li>Set up and run a basic application</li>
      <li>Create routes with parameters</li>
      <li>Create routers with routes</li>
      <li>Show and render templates with EJS</li>
      <li>Get external data</li>
      <li>Handle forms</li>
      <li>Store stuff in session</li>
    </ul>
  </section>

  <section>
    <img src="assets/lesson4/data-flow-covered.svg" alt="App data flow covered in lessons" style="height: 100%" />
  </section>

  <section>
    <h1>Why?</h1>

    <ul>
      <li class="fragment">Basics of building web applications</li>
      <li class="fragment">Build your own!</li>
    </ul>
  </section>

  <section>
    <h1>Examples</h1>

    <ul>
      <li class="fragment">Photosharing application</li>
      <li class="fragment">Blog engine</li>
      <li class="fragment">CMS</li>
      <li class="fragment">Blog engine</li>
      <li class="fragment">
        Make better interfaces for existing data or enrich them with new functionality
        <ul>
          <li class="fragment">http://rijksmuseum.github.io/</li>
          <li class="fragment">https://github.com/skywave/KV78Turbo-OVAPI/wiki</li>
          <li class="fragment">https://npropendata.rdw.nl/parkingdata/v2/</li>
        </ul>
      </li>
    </ul>
  </section>

</section>


<section>
  <section>
    <h1>EJS in depth</h1>
  </section>

  <section>
    <h1>Embedded <strong>JavaScript</strong></h1>

    <pre><code class="javascript" data-trim data-noescape>
<% ... JAVASCRIPT ... %>
<%= ... JAVASCRIPT WITH OUTPUT ... %>
    </code></pre>
  </section>

  <section>
    <h1><code><% ... %></code></h1>

    <div class="side-by-side">
      <div class="side-by-side__content">
        <pre><code class="javascript" data-trim data-noescape>
<% if(name === "flurin"){ %>
  Hey, Flurin
<% } %>
        </code></pre>
      </div>
      <div class="side-by-side__content">
        <pre><code class="javascript" data-trim data-noescape>
function(name){
  var output = ""
  if(name === "flurin"){
    output += "  Hey, Flurin";
  }
  return output;
}
        </code></pre>
      </div>
    </div>
  </section>

  <section>
    <h1><code><%= ... %></code></h1>

    <div class="side-by-side">
      <div class="side-by-side__content">
        <pre><code class="html" data-trim data-noescape>
<%= name %>
        </code></pre>
      </div>
      <div class="side-by-side__content">
        <pre><code class="javascript" data-trim data-noescape>
function(name){
  var output = ""
  output += escape(name);
  return output;
}
        </code></pre>
      </div>
    </div>
  </section>

  <section>
    <h1><code><%= ... %></code> and <code><% ... %></code></h1>

    <div class="side-by-side">
      <div class="side-by-side__content">
        <pre><code class="html" data-trim data-noescape>
<% if(name){ %>
  Hey, <%= name %>
<% } %>
        </code></pre>
      </div>
      <div class="side-by-side__content">
        <pre><code class="javascript" data-trim data-noescape>
function(name){
  var output = ""
  if(name){
    output += "  Hey, ";
    output += escape(name);
  }
  return output;
}
        </code></pre>
      </div>
    </div>
  </section>

  <section>
    <h1>Security</h1>

    <div class="side-by-side">
      <div class="side-by-side__content">
        <h2>Route</h2>
        <pre><code class="javascript" data-trim>
app.get("/", function(req, res){
  res.render("index", {
    location : "&lt;script>alert('evil');&lt;/script>"
  });
})
        </code></pre>

        <h2>Template</h2>
        <pre><code class="javascript" data-trim>
<%= location %>
        </code></pre>
      </div>
      <div class="side-by-side__content">
        <pre><code class="html" data-trim>
&lt;script>alert('evil');&lt;/script>
        </code></pre>
      </div>
    </div>
  </section>

  <section>
    <h1>Outputting HTML <br> <code><%- ... %></code></h1>

    <div class="side-by-side">
      <div class="side-by-side__content">
        <pre><code class="html" data-trim data-noescape>
Description: <%- desc %>
        </code></pre>
      </div>
      <div class="side-by-side__content">
        <pre><code class="javascript" data-trim data-noescape>
function(name){
  var output = ""
  if(desc){
    output += "Description: ";
    output += desc;
  }
  return output;
}
        </code></pre>
      </div>
    </div>
  </section>

  <section>
    <div class="protip">
      Only output with <code><%- ... %></code> if you have validated the output thoroughly.
    </div>
  </section>

  <section>
    <h1>Passing data to templates</h1>
    <pre><code class="javascript" data-trim data-noescape>
router.get("/", function(req, res){
  var data = { title : "The title" }
  res.render("index", data);
});
    </code></pre>
  </section>

  <section>
    <h1>Passing data with locals</h1>
    <pre><code class="javascript" data-trim data-noescape>
router.get("/", function(req, res){
  res.locals.title = "The title";
  var extraData = { location : "Amsterdam" };
  res.render("index", extraData);
});
    </code></pre>
  </section>

  <section>
    <h1>Accessing locals</h1>
    <pre><code class="html" data-trim data-noescape>
<%= name %>
<%= locals.name %>
    </code></pre>
  </section>

</section>

<section data-background="assets/lesson3/break.gif">
  <div class="fragment">
    <h1>Coffebreak</h1>
    <p>Back in 10 minutes</p>
  </div>
</section>

<section>
  <section>
    <h1>Advanced routers</h1>
  </section>

  <section>
    <img src="assets/lesson4/request-flow.svg" alt="Request flow" style="width: 100%;" />
  </section>

  <section>
    <h1>Middleware</h1>
    <p>
      Middleware is a any number of function that are being called before a routes is executed. It sits between the raw request and the final intended route. Middleware is always executed in the order they are added.
    </p>
  </section>

  <section>
    <h1>Why?</h1>

    <ul>
      <li>Load the session</li>
      <li>Parse the body</li>
      <li>Load a user</li>
      <li>Check user access</li>
    </ul>
  </section>

  <section>
    <h1>Adding middleware</h1>
    <ul>
      <li>to the app</li>
      <li>to a router</li>
      <li>to a route</li>
    </ul>
  </section>

  <section>
    <h1>Code!</h1>

    <pre><code class="javascript" data-trim data-noescape>
app.use(function(req, res, next){
  // ... do stuff ...
  next();
})
<div class="fragment">
app.use("/secret", function(req, res, next){
  if(req.session.user){
    next();
  } else {
    res.redirect("/user/login");
  }
})
</div><div class="fragment">
app.get("/pino", function(req, res, next){
  // This looks vaguely familiar
});
</div>
    </code></pre>
  </section>

  <section>
    <h1>Does that mean ... ?</h1>

    <p class="fragment" style="font-size: 10em; margin-top: -0.3em;">YES!</p>
  </section>

  <section>
    <h1>Routes are middleware</h1>

    <pre><code class="javascript" data-trim data-noescape>
app.get("/", function(req, res, next){
  // ... do something interesting ...
  next();
})

app.get("/", function(req, res, next){
  res.send("yay")
})
    </code></pre>
  </section>

  <section>
    <h1>Setting locals in middleware</h1>
    <pre><code class="javascript" data-trim data-noescape>
router.get(function(req, res, next){
  res.locals.error = false;
  next();
});

router.get("/", function(req, res){
  res.render("index"); // error has been set!
})
    </code>
  </section>

  <section>
    <h1>Loading stuff in middleware</h1>

    <pre><code class="javascript" data-trim data-noescape>
app.get("/", function(req, res, next){
  var url = "http://api.openweathermap.org/data/2.5/weather?q=Amsterdam,nl";
  request(url, function(error, response, body){
    if (!error && response.statusCode == 200) {
      req.weatherData = JSON.parse(body);
      next();
    } else {
      res.send("Uh-oh this totally broke");
    }
  });
})

app.get("/", function(req, res, next){
  res.render("index", {weather : req.weatherData });
})
    </code></pre>
  </section>

  <section>
    <div class="protip">
      Important! Always call <code>next()</code> or end the response (redirect, send, etc.) otherwise the request will not continue.
    </div>
  </section>
</section>

<section>
  <section>
    <h1>Uploads</h1>
  </section>

  <section>
    <h1>The form</h1>

    <pre><code class="html" data-trim data-noescape>
&lt;form action=&quot;&lt;%%= req.baseUrl + &quot;/&quot; %&gt;&quot; method=&quot;post&quot; enctype=&quot;multipart/form-data&quot;&gt;
  &lt;input type=&quot;file&quot; name=&quot;imageFile&quot; value=&quot;&quot;&gt;
  &lt;button&gt;Upload!&lt;/button&gt;
&lt;/form&gt;
    </code></pre>
  </section>

  <section>
    <h1>You'd expect to ...</h1>
    <pre><code class="javascript" data-trim data-noescape>
router.post("/", function(req, res){
  req.body.imageFile // No such luck
});
    </code></pre>
  </section>

  <section>
    <h1>File uploads ...</h1>
    <p> ... are posted as multipart and need a separate parser</p>
  </section>

  <section>
    <h1>Multer</h1>

    <ol>
      <li><code>$ npm install --save multer</code></li>
      <li>
        Using it
        <pre><code class="javascript" data-trim data-noescape>
var express = require('express');
var bodyParser = require('body-parser');
var multer = require('multer');
var app = express();

app.use(multer({dest: __dirname + "/upload" }));
app.use(bodyParser.urlencoded({extended: true}));
        </code></pre>
      </li>
      <li>
        Profit!
      </li>
    </ol>
  </section>

  <section>
    <h1>Accessing the files</h1>
    <pre><code class="javascript" data-trim data-noescape>
router.post("/", function(req, res){
  req.files.imageFile // Yay!
});
    </code></pre>
  </section>

  <section>
    <h1>Respond with a file</h1>
    <pre><code class="javascript" data-trim data-noescape>
router.post("/", function(req, res){
  res.sendFile(req.files.imageFile.path);
});
    </code></pre>
  </section>

  <section>
    <h1>Respond with a file download</h1>
    <pre><code class="javascript" data-trim data-noescape>
router.post("/", function(req, res){
  // res.download(req.files.imageFile.path) // Simple version
  res.download(req.files.imageFile.path, "download.jpg", function(err){
    if(!err){
      // Download is done!
    }
  });
});
    </code></pre>
  </section>

  <section>
    <h1>Basic file operations</h1>

    <p>Always begin with: </p>
    <pre><code class="javascript" data-trim data-noescape>
var fs = require('fs');
    </code></pre>

    <p><a href="http://nodejs.org/api/fs.html">fs Documentation</a></p>
  </section>

  <section>
    <h1>Read a file</h1>
    <pre><code class="javascript" data-trim data-noescape>
fs.readFile("path to file", function(err, data){
  if(!err){
    // Do stuff with data
  }
})
    </code></pre>
  </section>

  <section>
    <h1>Write a file</h1>
    <pre><code class="javascript" data-trim data-noescape>
fs.writeFile("path to file", data, function(err){
  if(!err){
    // All done!
  }
})
    </code></pre>
  </section>

  <section>
    <h1>Delete a file</h1>
    <pre><code class="javascript" data-trim data-noescape>
fs.unlink("path to file", function(err){
  if(!err){
    // All done!
  }
})
    </code></pre>
  </section>

  <section>
    <h1>Move/rename a file</h1>
    <pre><code class="javascript" data-trim data-noescape>
fs.rename("path to file", "new path to file", function(err){
  if(!err){
    // All done!
  }
})
    </code></pre>
  </section>

  <section>
    <h1>Let's build a quick and dirty file storage</h1>
  </section>

</section>

<section>
  <section>
    <h1>What we learned today</h1>
    <ul>
      <li>The big picture from client to database and back</li>
      <li>EJS is just JavaScript</li>
      <li>Using locals</li>
      <li>Using middleware (we've been using them all along)</li>
      <li>Handling file uploads</li>
      <li>Sending and downloading files</li>
      <li>Working with the filesystem</li>
    </ul>
  </section>
</section>

<section>

  <section>
    <h1>Live code</h1>
    <p>
      <a href="https://github.com/flurin/sss-course-livecode-2014">https://github.com/flurin/sss-course-livecode-2014</a>
    </p>
  </section>


  <section>
    <h1>Werkcollege en huiswerk</h1>
  </section>

  <section>
    <h1>Huiswerk: lezen</h1>

    <ul>
      <li>
        Express.js Middleware Demystified
        https://blog.safaribooksonline.com/2014/03/10/express-js-middleware-demystified/
      </li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section>
    <h1>Huiswerk: doen</h1>
    <p>Opdracht van voorgaande weken:</p>
    <ul>
      <li>
        https://github.com/CMDA/sss-exercises/tree/master/exercise2
      </li>
      <li>
        https://github.com/CMDA/sss-exercises/tree/master/exercise3
      </li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section data-background="assets/thatsall.gif">
  </section>

</section>
      </div>
    </div>

    <script src="vendor/reveal.js/js/reveal.min.js"></script>
    <script src="vendor/highlightjs/highlight.pack.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        width: 1000,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'vendor/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'vendor/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'vendor/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'javascripts/reveal/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'vendor/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>
  </body>
</html>