---
title: "Lesson 4 - Server Side Scriptin in Node.js"
layout: "presentation"
---

<section>
  <h1 class="title">Server Side Scripting in <img src="/assets/logo-nodejs.svg"></h1>
  <p>Lesson 4</p>
  <p>http://cmda.github.io/sss-course/lesson4</p>
</section>

<section>
  <section>
    <h1>Today</h1>
    <ol>
      <li>Looking back</li>
      <li>Advanced routers</li>
      <li>Files</li>
      <li>Uploads</li>
      <li>Testing</li>
      <li>Wrap up</li>
    </ol>
  </section>
</section>

<section>
  <section>
    <h1>Looking back</h1>
  </section>


  <section>
    <h1>What can we do so far?</h1>

    <ul>
      <li>Set up and run a basic application</li>
      <li>Create routes with parameters</li>
      <li>Create routers with routes</li>
      <li>Show and render templates with EJS</li>
      <li>Get external data</li>
      <li>Handle forms</li>
      <li>Store stuff in session</li>
    </ul>
  </section>


  <section>
    <h1>Why?</h1>

    <ul>
      <li class="fragment">Basics of building web applications</li>
      <li class="fragment">Build your own!</li>
    </ul>
  </section>

  <section>
    <h1>Examples</h1>

    <ul>
      <li class="fragment">Photosharing application</li>
      <li class="fragment">
        Make better views for existing data
        <ul>
          <li class="fragment">http://rijksmuseum.github.io/</li>
          <li class="fragment">https://github.com/skywave/KV78Turbo-OVAPI/wiki</li>
          <li class="fragment">https://npropendata.rdw.nl/parkingdata/v2/</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h1>EJS templates</h1>


  </section>

  <section>
    <div class="protip">
      <code>console.log</code> is nog the same as in the browser.
    </div>
  </section>


  <section>
    <h1>Request flow</h1>
  </section>

</section>

<section>
  <section>
    <h1>Advanced routers</h1>
  </section>
</section>

<section>
  <section>
    <h1>Uploads</h1>
  </section>
</section>


<section>
  <section>
    <h1>Security</h1>
  </section>
</section>


<section>

  <section>
    <h1>Werkcollege en huiswerk</h1>
  </section>

  <section>
    <h1>Huiswerk: lezen</h1>

    <ul>
      <li>...</li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section>
    <h1>Huiswerk: doen</h1>
    <ul>
      <li>...</li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section data-background="/assets/thatsall.gif">
  </section>

</section>