---
title: "Lesson 5 - Server Side Scripting in Node.js"
layout: "presentation"
---

<section>
  <h1 class="title">Server Side Scripting in <img src="/assets/logo-nodejs.svg"></h1>
  <p>Lesson 5</p>
  <p>http://cmda.github.io/sss-course/lesson5</p>
</section>

<section>
  <section>
    <h1>Today</h1>
    <ol>
      <li>The big picture</li>
      <li>Databases 101</li>
      <li>SQL</li>
      <li>MySQL + Node.js</li>
      <li>Wrap up</li>
    </ol>
  </section>
</section>

<section>
  <section>
    <h1>The big picture</h1>
  </section>


  <section>

    <div class="toggle-fragments" style="height: 680px; margin-top: 0">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/big-picture.svg" alt="App data flow covered in lessons" style="height: 100%"/>
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/big-picture-databases.svg" alt="App data flow covered in lessons" style="height: 100%"/>
        </span>
    </span>

  </section>
</section>


<section>

  <section>
    <h1>Databases 101</h1>
  </section>

  <section>
    <h1>Why?</h1>

    <ul>
      <li>Persist data</li>
      <li>Make data queryable</li>
      <li>Relate data</li>
      <li>Constrain data</li>
    </ul>
  </section>

  <section>
    <h1>MySQL</h1>

    <ul>
      <li>It's free</li>
      <li>It's fast</li>
      <li>It's easy to set up</li>
      <li>It's most commonly used</li>
    </ul>
  </section>

  <section>
    <h1>Tables &amp; Records</h1>

    <img src="/assets/lesson5/table-users.svg" alt="User table" class="full">
  </section>

  <section>
    <h1>Datatypes</h1>

    <img src="/assets/lesson5/users-type.svg" alt="User table" class="full">
  </section>

  <section>
    <h1>Datatypes</h1>

    <ul>
      <li>VARCHAR(X) / CHAR(X) </li>
      <li>TEXT (TINYTEXT, MEDIUMTEXT, LONGTEXT)</li>
      <li>INT (TINYINT, SMALLINT, MEDIUMINT, BIGINT)</li>
      <li>DECIMAL</li>
      <li>DATE / TIME / DATETIME</li>
      <li>etc...</li>
    </ul>
  </section>

  <section>
    <h1>Relationships</h1>

    <img src="/assets/lesson5/table-users-locations.svg" alt="User table" class="full">
  </section>
</section>

<section>
  <section>
    <h1>SQL</h1>

    <p>
      <span class="fragment"><strong>S</strong>tructured</span>
      <span class="fragment"><strong>Q</strong>uery</span>
      <span class="fragment"><strong>L</strong>anguage</span>
    </p>
  </section>

  <section>
    <h1>Select records from a table</h1>

    <pre><code class="sql" data-trim>
SELECT fieldname,fieldname FROM table;
SELECT * FROM table;
    </code></pre>
  </section>

  <section>
    <code class="sql">SELECT * FROM users;</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/select-all.svg" class="full" alt="select * from users">
      </span>
    </span>
  </section>

  <section>
    <code>SELECT email,password FROM users;</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/select-fields.svg" class="full" alt="select email,password from users">
      </span>
    </span>
  </section>

  <section>
    <h1>Select some records from a table</h1>

    <pre><code class="sql" data-trim>
SELECT fieldname1,fieldname2 FROM table
  WHERE fieldname1 = 'value1' OR fieldname1 = 'value2';
    </code></pre>
  </section>

  <section>
    <code>SELECT * FROM users WHERE id = 1;</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/select-where.svg" class="full" alt="select * from users where id = 1">
      </span>
    </span>
  </section>

  <section>
    <h1>Joining records from multiple tables</h1>

    <pre><code class="sql" data-trim>
SELECT table1.fieldname,table2.fieldname FROM table1
  INNER JOIN table2 ON table1.id = table2.id
    </code></pre>
  </section>

  <section>
    <code>SELECT * FROM users INNER JOIN locations ON users.id = locations.user_id;</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-locations-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/select-join.svg" class="full" alt="SELECT * FROM users JOIN locations ON users.id = locations.user_id;">
      </span>
    </span>
  </section>

  <section>
    <code>SELECT * FROM users INNER JOIN locations ON users.id = locations.user_id WHERE location = "New York";</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-locations-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/select-join-where.svg" class="full" alt="SELECT * FROM users JOIN locations ON users.id = locations.user_id WHERE location = 'New York';">
      </span>
    </span>
  </section>

  <section>
    <h1>Left joining records from multiple tables</h1>

    <pre><code class="sql" data-trim>
SELECT table1.fieldname,table2.fieldname FROM table1
  LEFT JOIN table2 ON table1.id = table2.table_id
    </code></pre>
  </section>

  <section>
    <code>SELECT * FROM users LEFT JOIN locations ON users.id = locations.user_id;</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-locations-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/select-left-join.svg" class="full" alt="SELECT * FROM users LEFT JOIN locations ON users.id = locations.user_id;">
      </span>
    </span>
  </section>

  <section>
    <h1>Adding new records</h1>
    <pre><code class="sql" data-trim>
INSERT INTO table (fieldname1, fieldname2)
  VALUES (value1, value2);
    </code></pre>
  </section>

  <section>
    <code>INSERT INTO users (email,password) VALUES ('new@news.nl', 'blabla');</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/insert.svg" class="full" alt="INSERT INTO users (email,password) VALUES ('new@news.nl', 'blabla');">
      </span>
    </span>
  </section>

  <section>
    <h1>Changing existing records</h1>

    <pre><code class="sql" data-trim>
UPDATE table SET fieldname1=value1, fieldname2=value2;
    </code></pre>
  </section>

  <section>
    <code>UPDATE users SET favourite_location="Nijmegen";</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/update.svg" class="full" alt="UPDATE users SET favourite_location='Nijmegen'">
      </span>
    </span>
  </section>

  <section>
    <h1>Changing some existing records</h1>

    <pre><code class="sql" data-trim>
UPDATE table SET fieldname1=value1, fieldname2=value2
  WHERE fieldname3=value3;
    </code></pre>
  </section>


  <section>
    <code>UPDATE users SET email="ibizalover@bla.nl", favourite_location="Ibiza" WHERE id=1;</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/update-where.svg" class="full" alt="UPDATE users SET email='ibizalover@bla.nl', favourite_location='Ibiza' WHERE id=1;">
      </span>
    </span>
  </section>

  <section>
    <h1>Deleting records</h1>

    <pre><code class="sql" data-trim>
DELETE FROM table WHERE fieldname3=value3;
    </code></pre>
  </section>

  <section>
    <code>DELETE FROM users WHERE id=2;</code>
    <div class="toggle-fragments">
      <span class="fragment fade-out" data-fragment-index="1">
        <img src="/assets/lesson5/users-bare.svg" class="full" alt="users table">
      </span>
      <span class="fragment fade-in" data-fragment-index="1">
        <img src="/assets/lesson5/delete.svg" class="full" alt="DELETE FROM users WHERE id=2;">
      </span>
    </span>
  </section>

</section>

<section data-background="/assets/lesson3/break.gif">
  <div class="fragment">
    <h1>Coffebreak</h1>
    <p>Back in 10 minutes</p>
  </div>
</section>

<section>

  <section>
    <h1>MySQL + Node.js</h1>
  </section>

  <section>
    <h1>Using MySQL in Node.js</h1>

    <ol>
      <li><code>$ npm install --save mysql</code></li>
      <li>
        Using it
        <pre><code class="javascript" data-trim data-noescape>
var mysql = require('mysql');
        </code></pre>
      </li>
      <li>
        ... wait for it ...
      </li>
    </ol>
  </section>


  <section>
    <h1>MySQL + Express.js</h1>

    <ol>
      <li><code>$ npm install --save express-myconnection</code></li>
      <li>
        Using it
        <pre><code class="javascript" data-trim data-noescape>
var mysql = require('mysql');
var myConnection = require('express-myconnection');

// Database configuration
var dbOptions = {
  host: 'localhost',
  user: 'dbuser',
  password: 'password',
  database: 'mydb'
};

// Add connection middleware
app.use(myConnection(mysql, dbOptions, 'single'));
        </code></pre>
      </li>
      <li>
        Profit?
      </li>
    </ol>
  </section>


  <section>
    <img src="/assets/lesson5/middleware.svg" class="full-vertical" alt="Middleware">
  </section>


  <section>
    <h1>Putting it all together</h1>

    <pre><code class="javascript" data-trim>
// ...
req.getConnection(function(err, connection){
  if(err){ return next(err); }

  connection.query('SELECT * FROM users', function(err, records){
    if(err){ return next(err); }

    console.log(records);

  });
});
// ...
    </code></pre>
  </section>

  <section data-background="/assets/stop.jpg">
    <div class="warning">
      Don't EVER store your passwords in plain text. Use a hashing algorithm like bcrypt to encrypt passwords.
    </div>
  </section>

</section>


<section>
  <section>
    <h1>What we learned today</h1>
    <ul>
      <li>
        We're getting somewhere!!
      </li>
      <li>
        SQL basics: select, insert, update, delete
      </li>
      <li>
        Using MySQL with Node.js and Express
      </li>
      <li>
        Never-ever use the example for passwords as presented today
      </li>
    </ul>
  </section>
</section>

<section>
  <section>
    <h1>Deeltoets 2</h1>
    <ul>
      <li>Werkcollege van 8 januari</li>
      <li>In code, op je laptop</li>
      <li>45 minuten</li>
      <li>Inleveren op Moodle</li>
      <li>Automatisch nagekeken</li>
    </ul>
  </section>

  <section>
    <h1>Doel</h1>
    <p>
      Doel van de toets is het laten zien dat je Node.js + Express snapt en zelf routes, routers, templats, etc. kunt schrijven en bijbehorende problemen kunt oplossen.
    </p>
  </section>

  <section>
    <h1>Hoe gaat het werken?</h1>

    <ul>
      <li>
        Je downloadt de toets met daarin:
        <ul>
          <li>Lege bestanden</li>
          <li>Opdrachten</li>
          <li>Automatische tests</li>
        </ul>
      </li>
      <li>
        Je maakt de opdrachten (ca. 4-6)
      </li>
      <li>
        Je draait de tests en als alles groen is is het goed
      </li>
      <li>
        Je zipt je antwoorden en uploadt ze naar Moodle
      </li>
    </ul>
  </section>

  <section>
    <h1>Oefentoets</h1>

    <ul>
      <li>We gaan een oefentoets maken</li>
      <li>Deze krijg je in het werkcollege van 18 december</li>
      <li>Je kunt hem in de vakantie maken</li>
      <li>We behandelen de oefentoets in het <strong>hoorcollege</strong> van 5 januari</li>
    </ul>
  </section>

</section>

<section>

  <section>
    <h1>Live code</h1>
    <p>
      <a href="https://github.com/flurin/sss-course-livecode-2014">https://github.com/flurin/sss-course-livecode-2014</a>
    </p>
  </section>

  <section>
    <h1>Huiswerk: doen (1/2)</h1>
    <p>Installeer MySQL + MySQL Workbench</p>
    <ul>
      <li>
        Werk met z'n tweeen, vindt iemand die het vak Storage doet.
      </li>
      <li>
        Werk met iemand met 't zelfde system (Mac/Windows)
        </li>
      <li>
        Zorg er voor dat je <strong>MySQL</strong> + <strong>MySQL Workbench</strong> geïnstalleerd hebt
        </li>
    </ul>
  </section>

  <section>
    <h1>Huiswerk: doen (2/2)</h1>
    <ul>
      <li>
        Maak een database aan en importeer:
        <a href="https://raw.githubusercontent.com/CMDA/sss-exercises/master/exercise5/data/database.sql">https://raw.githubusercontent.com/CMDA/sss-exercises/master/exercise5/data/database.sql</a>
      </li>
      <li>
        Opdracht van vorige week: <br>
        <a href="https://github.com/CMDA/sss-exercises/tree/master/exercise4">https://github.com/CMDA/sss-exercises/tree/master/exercise4</a>
      </li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section>
    <h1>Installeer MySQL + MySQL Workbench</h1>

    <ul>
      <li>
        Werk met z'n tweeen, vindt iemand die het vak Storage doet.
      </li>
      <li>
        Werk met iemand met 't zelfde system (Mac/Windows)
        </li>
      <li>
        Zorg er voor dat je <strong>MySQL</strong> + <strong>MySQL Workbench</strong> geïnstalleerd hebt
        </li>
    </ul>
  </section>

  <section>
    <h1>Huiswerk: lezen</h1>

    <ul>
      <li>
        Boek: 5.2 t/m 5.2.1 (pagina 102 t/m 110)
      </li>
      <li>
        Mysql Basics
        <ul>
          <li>
            <a href="http://www.mysqltutorial.org/mysql-select-statement-query-data.aspx">MySQL SELECT</a>
          </li>
          <li>
            <a href="http://www.mysqltutorial.org/mysql-inner-join.aspx">MySQL INNER JOIN</a>
          </li>
          <li>
            <a href="http://www.mysqltutorial.org/mysql-left-join.aspx">MySQL LEFT JOIN</a>
          </li>
          <li>
            <a href="http://www.mysqltutorial.org/mysql-insert-statement.aspx">MySQL INSERT</a>
          </li>
          <li>
            <a href="http://www.mysqltutorial.org/mysql-update-data.aspx">MySQL UPDATE</a>
          </li>
          <li>
            <a href="http://www.mysqltutorial.org/mysql-delete-statement.aspx">MySQL DELETE</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>


  <section data-background="/assets/thatsall.gif">
  </section>

</section>