---
title: "Lesson 3 - Server Side Scriptin in Node.js"
layout: "presentation"
---

<section>
  <h1 class="title">Server Side Scripting in <img src="/assets/logo-nodejs.svg"></h1>
  <p>Lesson 3</p>
  <p>http://cmda.github.io/sss-course/lesson3</p>
</section>

<section>
  <section>
    <h1>Today</h1>
    <ol>
      <li>Wrap up</li>
    </ol>
  </section>
</section>

<section>
  
</section>


<section>

  <section>
    <h1>Werkcollege en huiswerk</h1>
  </section>

  <section>
    <h1>Huiswerk: lezen</h1>

    <ul>
      <li>...</li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section>
    <h1>Huiswerk: doen</h1>
    <ul>
      <li>...</li>
    </ul>

    <p>Klaar voor werkcollege</p>
  </section>

  <section data-background="/assets/thatsall.gif">
  </section>

</section>