---
title: "Zandbak - Server Side Scriptin in Node.js"
layout: "presentation"
---

<section>
  <h1 class="title">Server Side Scripting in <img src="/assets/logo-nodejs.svg"></h1>
  <p>Zandbak (sheets not used for the moment)</p>
</section>

<section>
  <section>
    <h1>Generate an application</h1>
    <h2>Step 1.</h2>
    <pre class="terminal--osx"><code data-trim class="bash">
$ npm install express-generator -g
    </code></pre>
  </section>

  <section>
    <h1>Generate an application (2)</h1>
    <pre class="terminal--osx"><code data-trim class="bash">
$ express -h

Usage: express [options] [dir]

Options:

  -h, --help          output usage information
  -V, --version       output the version number
  -e, --ejs           add ejs engine support (defaults to jade)
      --hbs           add handlebars engine support
  -H, --hogan         add hogan.js engine support
  -c, --css <engine>  add stylesheet <engine> support (less|stylus|compass) (defaults to plain css)
  -f, --force         force on non-empty directory
    </code></pre>
  </section>

  <section>
    <h1>Generate an application (3)</h1>
    <pre class="terminal--osx"><code data-trim class="bash">
$ express -e 'project_name'
    </code></pre>
    <p>Pass the <code>-e</code> option to tell express to use EJS templates, more on that later.</p>
  </section>

</section>

<div class="hidden">
  * Static files
  * Redirects
</div>