.md-toc{
  font-size: 16px;
  font-size: 0.9rem;

  h2{
    margin-top: 0.3em;
    font-size: 1.25rem;
  }

  ul{
    margin-bottom: 0em;
    // padding-left: 1em;
  }

  li{
    list-style: disc;
  }

  & > ul{
    padding: 0;
  }
  & > ul > li{
    margin: 0;
    list-style: none;
  }

  & > ul > li > ul{
    padding-left: 1.2em;
  }

  li li li{
    display: none;
  }

  @media (min-width: 1260px){
    position: absolute;
    width: 200px;
    left: -220px;
    top: 0;

    & > ul > li > a{
      display: none;
    }

    li li li{
      display: list-item;
    }
  }
}

